<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title></title>
  <%= stylesheet_link_tag 'foottraffic' %>
</head>
<body>

<div id="container">
<div id="header">
      <img height="150" width="948" src="/images/header.png" usemap="#hmap"/>
   
      <map id="hmap" name="hmap">
       <area href="/" shape="rect" coords="18,0,345,129"/>
       <area href="/" shape="circle" coords="18,68,18"/>
      </map>
   
       <div id="navbar">
           <div id="leftnav"></div>
           <div id="middlenav">
              <a href="signup-merchant.html">Are you a vendor?</a>|
             
              
          </div>
          <div id="rightnav"/>
       </div>
 
</div>
  


<div id="body">


<div style="">

<h1>Welcome!</h1>


<p>Log in to get offers now!</p>

<% if logged_in? %>
  Current location: <%= @location %> |
  <%= link_to("Home", "/") %> |
  <%= link_to("Logout", logout_url) %>
<% else %>
  <%= link_to("Signup", signup_url) %><br/>
  <%= link_to("Login", login_url) %>
<% end %>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
